@import url(https://fonts.googleapis.com/css?family=Varela+Round);

/*General*/
body { 
  padding-top: 80px;
  font-family: 'Varela Round', sans-serif;
  background: #143752;
}

h5 {
  font-size: 2.5rem;
}

a:hover {
  text-decoration: none;
}

.btn-primary {
  background-color: #dd6929;
}

.btn-info {
  background-color: #67ab95;
}

.btn-sm {
  font-size: 1.7rem;
}

.btn-link {
  color: #ffffff;
  text-decoration: none;
}
.btn-link:hover {
  color: #ffffff;
  text-decoration: none;
}

.btn-link:focus {
  color: #ffffff;
  text-decoration: none;
}

.jumbotron {
  background-color: #35536a;
}

.badge {
  background-color: #67ab95 !important;
  color: #ffffff !important;
  }

.featured-content > i {
  font-size: 8rem;
  color:  #67ab95;
  padding:  20px;
}

/*NavBar*/
nav {
  z-index: 100;
}

.navbar-nav > li > a:hover {
  background-color: #ffffff !important;
}

.nav>li>a:focus {
  background: #ffffff !important;
}

.navbar-default {
  background-color: #ffffff;
}

.dropdown-menu {
  background-color: #ffffff;
}

.dropdown-menu>li>a:hover{
  background: #ffffff !important;
}

.dropdown-menu>li>a:focus{
  background: #ffffff !important;
}
.user-profile-image {
  width: 40px;
  height: 40px;
}

.navbar-logo {
  margin-top: 8px;
  height: 35px;
}

.navbar-brand,
.navbar-nav li a {
    font-size: 1.7rem;
    color: #362f2d !important;
    line-height: 55px;
    height: 55px;
    padding-top: 0;
}

/*SideBar*/
#sidebar {
	background-color: #35536a;
}

/*Challenge*/

.challenge-container {
  padding-left: 30px;
  padding-right: 30px;
}
.challenge-row {
	background-color: #35536a;
	padding: 10px;
  margin-bottom: 10px;
}

.challenge-img {
  max-width: 200px;
  max-height: 200px;
}

/*Dashboard*/

/*
 * off canvas sidebar
 * --------------------------------------------------
 */
@media screen and (max-width: 768px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }

  .row-offcanvas-left.active {
    left: 33%;
  }

  .row-offcanvas-left.active .sidebar-offcanvas {
    left: -33%;
    position: absolute;
    top: 0;
    width: 33%;
    margin-left: 5px;
  }

  #sidebar, #sidebar a, #sidebar-footer a {
    padding-left:3px;
  }
}
