
<!-- sidebar -->
<div class="hidden-xs col-sm-2" id="sidebar">
  	<h4><i class="fa fa-sliders"></i> Filters</h4>
<!--   	<ul class="nav">
			<li><a href="#" data-toggle="offcanvas" class="visible-xs text-center"><i class="fa fa-chevron-right"></i></a></li>
	</ul> -->
   
    <ul class="nav">
        <li><a href="">Children & Youth</a></li>
        <li><a href="">Animals</a></li>
        <li><a href="">Community</a></li>
        <li><a href="">Education & Literacy</a></li>
        <li><a href="">Health & Medicine</a></li>
        <li><a href="">Arts & Culture</a></li>
        <li><a href="">Disaster Relief</a></li>
        <li><a href="">Environment</a></li>
    </ul>
  
  	<!-- tiny only nav-->
<!--       <ul class="nav visible-xs" id="xs-menu">
      	<li><a href="#featured" class="text-center"><i class="fa fa-list-alt"></i></a></li>
        <li><a href="#stories" class="text-center"><i class="fa fa-list"></i></a></li>
      	<li><a href="#" class="text-center"><i class="fa fa-paperclip"></i></a></li>
        <li><a href="#" class="text-center"><i class="fa fa-refresh"></i></a></li>
    </ul> -->
  
</div>
<!-- /sidebar -->
  
<!-- main right col -->
<div class=" col-xs-12 col-sm-10 challenge-container">
    <div class="row challenge-row" ng-repeat="($challengeIdx, challenge) in activeChallenges">
            <div class="col-xs-12 col-sm-5 col-md-4 col-lg-3 text-center">
                <img class="challenge-img" ng-src="{{challenge.organizationId.logo}}">
                <div>
                    <a class="organization-name-link" href="{{challenge.organizationId.website}}" target="_blank">{{challenge.organizationId.name}}</a>
                <p>"{{challenge.organizationId.activityShort}}"</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-7 col-md-8 col-lg-9">
                <h5>{{challenge.title}}</h5>
                <p>{{challenge.description}} ... <a href="">read more</a></p>
                <hr>
                <div class="row">
                    <div class="challenge-items col-xs-12 col-md-4 col-lg-3"><p><i class="fa fa-heart"></i> {{challenge.organizationId.cause}}</p></div>
                    <div class="challenge-items col-xs-12 col-md-4 col-lg-3"><p><i class="fa fa-thumb-tack"></i> {{challenge.type}}</p></div>
                    <div class="challenge-items col-xs-12 col-md-4 col-lg-3"><p><i class="fa fa-calendar"></i> {{challenge.timeframe}}</p></div>
                    <div class="col-xs-12 col-md-12 col-lg-3"><a ng-show="$parent.$storage.user.userId" ng-click="solveChallenge($challengeIdx)" type="button" class="btn btn-primary text-center">solve</a></div>
                    <div class="col-xs-12 col-md-12 col-lg-3"><a ng-show="!$parent.$storage.user.userId" type="button" class="btn btn-primary text-center" href="/signup">signup to solve</a></div>
                </div>
                <hr>
            </div>
    </div>
</div>
<!-- /main -->

</div>