
<div class="jumbotron text-center">
  <h1>Hacking never felt so good!</h1>
  <p>Bringing good coders & good causes together.</p>
  <br>
  <br>
  <br>
  <br>
  <p><a class="btn btn-primary btn-lg" href="#/challenges" role="button">BROWSE CHALLENGES</a></p>
  <br>
</div>
<section id="service">
    <div class="container">
            <div class="row">
                <div class="text-center">
                    <div class="col-md-3 col-xs-12 col-sm-6">
                            <div class="featured-content">
                                <i class="fa fa-thumbs-up"></i>
                                <h5> choose</h5>
                                <p>We have some seriously inspiring charities looking for a Hacker to help them with a project. Browse through our list and nominate yourself for 2-3 projects that interest you.</p>
                            </div>
                        </div>
                    <div class="col-md-3 col-xs-12 col-sm-6">
                            <div class="featured-content">
                                <i class="fa fa-bolt"></i>
                                <h5> solve</h5>
                                <p>If you pledge to solve the challenge, do so within the time frame the charity requested or let the charity know so that they can reach out to the next Hacker on their list.</p>
                            </div>
                    </div>
                    <div class="col-md-3 col-xs-12 col-sm-6">
                            <div class="featured-content">
                                <i class="fa fa-star"></i>
                                <h5> review</h5>
                                <p>Submit a review of your experience working with the charity (the charity will do the same for you). Support us in creating a fun volunteer environment for Hackers and charities alike.</p>
                            </div>
                    </div>
                    <div class="col-md-3 col-xs-12 col-sm-6">
                            <div class="featured-content">
                                <i class="fa fa-linkedin"></i>
                                <h5> shine</h5>
                                <p>Add “HackImpact Volunteer” to your resume. Better yet, link directly back to your Hack Impact profile and let potential employers see for themselves the awesome projects you’ve been completing!</p>
                            </div>
                    </div>
                </div>
        </div>
    </div>
</section>