
<div class="jumbotron text-center">
  <h1>What It Is!</h1>
  <p>More details about it...</p>
  <p><a class="btn btn-primary btn-lg" href="#/challenges" role="button">BROWSE CHALLENGES</a></p>
</div>
<section id="service">
    <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="feature_header text-center">
                        <h3 class="feature_title">How It <b>Works</b></h3>
                        <h4 class="feature_sub">More info about how it works</h4>
                        <div class="divider"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="main_feature text-center">
                    <div class="col-md-3 col-xs-12 col-sm-6">
                            <div class="feature_content">
                                <i class="fa fa-lightbulb-o"></i>
                                <h5> Step 1</h5>
                                <p>You can not ignore mobile devices anymore and with this theme all your visitors will be very pleased how they see your website.</p>
                                <button class="btn btn-main"> Read More</button>
                            </div>
                        </div>
                    <div class="col-md-3 col-xs-12 col-sm-6">
                            <div class="feature_content">
                                <i class="fa fa-pencil"></i>
                                <h5> Step 2</h5>
                                <p>This theme integrates with WordPress in the most awesome way! Functionality is separated from style through uncreadble useful for user. </p>
                                <button class="btn btn-main"> Read More</button>
                            </div>
                    </div>
                    <div class="col-md-3 col-xs-12 col-sm-6">
                            <div class="feature_content">
                                <i class="fa fa-cog"></i>
                                <h5> Step 3</h5>
                                <p>Full Time support. Very much helpful and possesive at the same time. With all this in mind you won’t be outdated anytime soon. Really!! </p>
                                <button class="btn btn-main"> Read More</button>
                            </div>
                    </div>
                    <div class="col-md-3 col-xs-12 col-sm-6">
                            <div class="feature_content">
                                <i class="fa fa-desktop"></i>
                                <h5> Step 4</h5>
                                <p>Shadow is as optimized as it gets. No useless wrappers, no double headings, everything is coded with SEO in mind. Content is KING! </p>
                                <button class="btn btn-main"> Read More</button>
                            </div>
                    </div>
                </div>
        </div>
    </div>
</section>