<h1>Charities get the website help you need today...FREE!</h1>
    <hr>
    <img src="/images/confident-business-people-working-with-the-help-of-technologies.jpg" class="img-responsive pull-left charities-image">
    <p>Do you have a web project that you need completed but you don’t have the expertise to do it yourself or the finances to hire an expert to do it for you? We can help! HackImpact connects charities like yours with expert coders who are interested in donating their services for causes they care about.</p>
    <p>To qualify, you simply need to be:</p>
    <ul>
    	<li>An established 501(c)3</li>
    	<li>Actively meeting a community need</li>
    	<li>Committed to working (and regularly communicating) with our coders in a timely manner until project completion
		</li>
    	<li>Willing to cover any costs unrelated to the coding services we provide but necessary for your project completion (ex: hosting service, email service, etc.)</li>
    	<li>Ready to review every coder who completes a challenge for you</li>
    </ul>
    <p>Simply register below and then create your challenge. Our coders will instantly see your request and will communicate with you directly if they are interested in solving your challenge.</p>
    <div class="text-center"><a class="btn btn-primary btn-lg" href="#/register" role="button">register here</a></div>