<!-- <h1>Hey there {{$parent.$storage.user.name}}!</h1>
<div class="loggedInUsers">
    <div class="text-center"><strong>Logged-In Users</strong></div>
    <div ng-show="status" ng-repeat="(user, status) in loggedInUsers">{{user}}</div>
</div>
<div class="chatHistory">
    <div class="text-center"><strong>Chat History</strong></div>
    <div ng-repeat="message in messageHistory">{{message.sender}} : {{message.content}}</div>
</div>
<input ng-keydown="sendMessage($event)" ng-model="chatMessage" class="chatBox"> -->